section.cadastrar-motorista{
    background: #f8f9fa;
    padding-bottom: 50px;
}


section.cadastrar-motorista .row-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.cadastrar-motorista .card{
    margin-bottom: 20px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

section.cadastrar-motorista .card-header{
    color: rgb(87, 87, 87);
}

section.cadastrar-motorista label{
    font-weight: bold;
    color: rgb(87, 87, 87);
}


section.cadastrar-motorista .card-categoria-carro .card-body{
    display: flex;
    justify-content: flex-start;
}

section.cadastrar-motorista .card-categoria-carro .card-body h5{
    margin-bottom: 3px;
}

section.cadastrar-motorista .card-categoria-carro img{
    width: 94%;
    margin-left: 5px;
}

section.cadastrar-motorista .card.card-categoria-carro .custom-control{
    margin-left: 6px;
}


section.cadastrar-motorista  .custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}



section.cadastrar-motorista  .custom-checkbox .custom-control-input:focus~.custom-control-label::before{
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(236, 106, 54, 0.25); 
}

section.cadastrar-motorista .card-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(238, 238, 238);
    color: rgb(196, 196, 196);
    font-size: 50px;
}

section.cadastrar-motorista .card-icon:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(238, 238, 238);
    color: rgb(196, 196, 196);
    font-size: 54px;
    transition: 0.8s;
}

section.cadastrar-motorista .documentos .card-body{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: center;
}

section.cadastrar-motorista .documentos .card-body .card-text{
    margin-bottom: 0px;
    color: rgb(143, 143, 143);
    font-size: 14px;
}

section.cadastrar-motorista .documentos .card-body .card-title{
    margin-bottom: 0px;
}

section.cadastrar-motorista .btn-primary{
    min-width: 140px;
}


section.cadastrar-motorista .profile-image-upload{
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

section.cadastrar-motorista .profile-image-upload .profile-icon{
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(238, 238, 238);
    color: rgb(196, 196, 196);
    font-size: 30px;
    box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0,0,0,.08), 0 3px 0 4px rgba(0,0,0,.05);
}

section.cadastrar-motorista .profile-image-upload .profile-icon:hover{
    font-size: 32px;
    transition: 0.5s;
}

section.cadastrar-motorista .termos{
    font-weight: bold;
}

section.cadastrar-motorista .termos .link{
    color: var(--primary-color);
}
section.cadastrar-motorista .termos .link:hover{
    cursor: pointer;
    text-decoration: underline;
}



@media(max-width: 767px){
    section.cadastrar-motorista .documentos .card-body{
        padding-left: 10px;
        padding-right: 10px;
    }

    section.cadastrar-motorista .card-icon{
        font-size: 36px;
    }
    
    section.cadastrar-motorista .card-icon:hover{
        font-size: 38px;
        transition: 0.8s;
    }

    section.cadastrar-motorista .documentos .card-title{
        font-size: 15px;
    }

    section.cadastrar-motorista .documentos .card-text{
        font-size: 13px !important;
    }
    
}


