.vertical-timeline-element-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 12% !important;
    color: var(--primary-color) !important;
}

.vertical-timeline-element-icon i{
    font-size: 20px
}

.vertical-timeline--two-columns .vertical-timeline-element-content{
    width: 100%;
}

.vertical-timeline::before{
    background: #e8e8e8 !important;
}

.vertical-timeline-element{
    margin: 20px 20px !important;
}
.vertical-timeline-element-title:first-child{
    color: #fff !important;
}

.vertical-timeline--two-columns .vertical-timeline-element-icon {
    width: 40px !important; 
    height: 40px !important;
}

.vertical-timeline-element-title{
    margin-top: 0px !important;
}

.vertical-timeline-element-content{
    padding: 20px 20px !important;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}


.vertical-timeline-element--work.last .vertical-timeline-element-icon{
    color: #fff !important;
}

.vertical-timeline-element--work.last .vertical-timeline-element-content{
    display: none
}

@media  (min-width: 1170px){
    .vertical-timeline--two-columns .vertical-timeline-element-icon{
        left: 51.3% !important;
    }
}

@media (max-width: 1169px){
    .vertical-timeline--two-columns .vertical-timeline-element-icon{
        transform: translateX(-21px);
    }

    .vertical-timeline-element-content{
        margin-left: 32px !important
    }
}
