section.obrigado{
    min-height: 100vh;
    background: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.obrigado .icon{
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid var(--primary-color);
    border-radius: 50%;
    font-size: 30px;
    color: var(--primary-color);
    margin-bottom: 20px;
}

section.obrigado h3{
    font-size: rgb(61, 61, 61) !important;
    text-transform: uppercase;
}

section.obrigado .card-body p{
    color: rgb(148, 148, 148);
}

section.obrigado .download-app{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


section.obrigado .download-app img:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.2s;
}

section.obrigado .download-app p{
    color: rgb(66, 66, 66);
}

section.obrigado .card{
    padding: 10px 0px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

section.obrigado .card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

section.obrigado .invitation-code{
    border: 2px dashed #ccc;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    color: var(--primary-color);
    padding: 10px 30px;
    margin-bottom: 10px;

}


section.obrigado .vertical-timeline-element-icon.check-icon{
    position: relative !important;
    width: 60px !important; 
    height: 60px !important;
    margin-bottom: 20px;
}

section.obrigado .vertical-timeline-element-icon.check-icon i{
    font-size: 26px; 
}

@media(max-width: 767px){
    section.obrigado .card{
        padding: 10px 10px;
    }
}