section.loading{
    height: 100vh;
    width: 100%;
    background: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: var(--primary-color);
}