body {
  margin: 0;
  background: #f8f9fa !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  --primary-color: rgb(236, 106, 54);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-primary{
  background: var(--primary-color) !important;
  border: 1px solid var(--primary-color) !important;
  text-transform: uppercase;
  font-weight: 500 !important;
  padding: 6px 25px !important;
}

.btn-primary:hover{
  filter: brightness(0.8);
  transition: 0.2s;
}